{{!< public}}
<script>
  document.body.classList.add('navbar-main-page');
  document.body.classList.add('index-page');
  var PAGE_INFO = {
    name: "home",
  }
</script>

<section class="page-section arrival-section">
  <img class="main-logo" src="img/logo-london.svg" alt="Evolv-london">

  <div class="main-headers">
    <h1 class="main-header">{{data.section_1.main_heading}}</h1>
    <h2 class="main-subheader">{{data.section_1.main_subheading}}</h2>
  </div>

  <div class="buttons-container">
    <a href="buy.html" class="flat-btn flat-test">Sales</a>
    <a href="rent.html" class="flat-btn flat-test">Lettings</a>
  </div>
</section>

<section class="page-section grey-bg">
  <h1>{{data.section_2.heading}}</h1>
  {{{data.section_2.content}}}

  <div class="tabs">
    <input id="evolv_history1" type="radio" name="items_tabs" checked>
    <input id="evolv_history2" type="radio" name="items_tabs">
    <input id="evolv_history3" type="radio" name="items_tabs">
    <input id="evolv_history4" type="radio" name="items_tabs">

    <label class="tab-label" for="evolv_history1"><i class="fa fa-suitcase"></i> <span>{{data.section_2.tab_1.title}}</span></label>
    <label class="tab-label" for="evolv_history2"><i class="fa fa-rocket"></i><span>{{data.section_2.tab_2.title}}</span></label>
    <label class="tab-label" for="evolv_history3"><i class="fa fa-car"></i><span>{{data.section_2.tab_3.title}}</span></label>
    <label class="tab-label" for="evolv_history4"><i class="fa fa-university"></i><span>{{data.section_2.tab_4.title}}</span></label>

    <div class="tab-content">
    {{{data.section_2.tab_1.content}}}
    </div>

    <div class="tab-content">
      {{{data.section_2.tab_2.content}}}
    </div>

    <div class="tab-content">
      {{{data.section_2.tab_3.content}}}
    </div>

    <div class="tab-content">
      {{{data.section_2.tab_4.content}}}
    </div>
  </div>

</section>

<section class="page-section light-blue-bg">
  <h1>{{data.section_3.heading}}</h1>
  {{{data.section_3.content}}}
</section>

<section class="page-section image-tiles">
  <a href="/property.html" class="tile">
    <img src="/img/prop-img-1.jpg" alt="" />
    <button class="flat-btn">144 Alpha Street</button>
  </a>
  <a href="/property.html" class="tile">
    <img src="/img/prop-img-2.jpg" alt="" />
    <button class="flat-btn">82B Beta Row</button>
  </a>
  <a href="/property.html" class="tile">
    <img src="/img/prop-img-3.jpg" alt="" />
    <button class="flat-btn">322 Charlie Mews</button>
  </a>
  <a href="/property.html" class="tile">
    <img src="/img/prop-img-4.jpg" alt="" />
    <button class="flat-btn">12 Delta Road</button>
  </a>
</section>

<script src="js/index.js"></script>
