{{!< public}}
<script>
  document.body.classList.add('navbar-main-page');
  document.body.classList.add('index-page');
  var PAGE_INFO = {
    name: "home",
  }
</script>

<section class="page-section arrival-section">
  <img class="main-logo" src="img/logo-london.svg" alt="Evolv-london">

  <div class="main-headers">
    <h1 class="main-header">{{data.section_1.main_heading}}</h1>
    <h2 class="main-subheader">{{data.section_1.main_subheading}}</h2>
  </div>

  <div class="buttons-container">
    <a href="/buy" class="flat-btn flat-test">Sales</a>
    <a href="/rent" class="flat-btn flat-test">Lettings</a>
  </div>
</section>

<section class="page-section grey-bg" id="about">
  <h1>{{data.section_2.heading}}</h1>
  <p>{{data.section_2.content}}</p>

  <div class="tabs">
    <input id="evolv_history1" type="radio" name="items_tabs" checked>
    <input id="evolv_history2" type="radio" name="items_tabs">
    <input id="evolv_history3" type="radio" name="items_tabs">
    <input id="evolv_history4" type="radio" name="items_tabs">

    <label class="tab-label" for="evolv_history1"><i class="fa fa-{{data.section_2.tab_1.icon}}"></i> <span>{{data.section_2.tab_1.title}}</span></label>
    <label class="tab-label" for="evolv_history2"><i class="fa fa-{{data.section_2.tab_2.icon}}"></i><span>{{data.section_2.tab_2.title}}</span></label>
    <label class="tab-label" for="evolv_history3"><i class="fa fa-{{data.section_2.tab_3.icon}}"></i><span>{{data.section_2.tab_3.title}}</span></label>
    <label class="tab-label" for="evolv_history4"><i class="fa fa-smile-o"></i><span>{{data.section_2.tab_4.title}}</span></label>

    <div class="tab-content tab-content--two-columns">
    <p>{{data.section_2.tab_1.content}}</p>
    </div>

    <div class="tab-content tab-content--two-columns">
      <p>{{data.section_2.tab_2.content}}</p>
    </div>

    <div class="tab-content tab-content--two-columns">
      <p>{{data.section_2.tab_3.content}}</p>
    </div>

    <div class="tab-content">
      {{> staffSlider}}
    </div>
  </div>

</section>

<section class="page-section light-blue-bg">
  <h1>{{data.section_3.heading}}</h1>
  <p>{{data.section_3.content}}</p>
</section>

<section class="page-section image-tiles">
  {{#each featuredProperties}}
    <a href="/property/{{#if buy.featured}}buy/{{else}}rent/{{/if}}{{slug}}" class="tile">
      <img
      	srcset="{{srcSet images.[0] 1240 1020 820 620 310}}"
      	sizes="(max-width: 768px) 100vw, 50vw"
        src="{{cloudinaryUrl images.[0] width=700 crop='lfill' gravity='center'}}"
        alt="{{location.street1}}"
      />
      <button class="flat-btn">{{location.street1}}</button>
    </a>
  {{/each}}
</section>

<script src="js/index.js"></script>
