<!-- SECTION 1 -->
<section class="page-section full-height-minus-navbar flex let_firstSection">
  <div class="main-headers">
    <h1 class="main-header">{{data.section_1.main_heading}}</h1>
    <h2 class="main-subheader">{{data.section_1.main_subheading}}</h2>
  </div>
</section>

<!-- SECTION 2 -->
{{#or data.section_2.heading data.section_2.content}}
  <section class="grey-bg page-section">
    <h1>{{data.section_2.heading}}</h1>
    <p>{{data.section_2.content}}</p>
  </section>
{{/or}}

<!-- SECTION 3 -->
{{#or data.section_3.heading data.section_3.column_1.content}}
  <section class="page-section white-bg">
    <h1>{{data.section_3.heading}}</h1>
    <p>{{data.section_3.content}}</p>

    {{#or data.section_3.column_1.content data.section_3.column_2.content}}
      <div class="TwoColumns">
        <div class="TwoColumns_column">
          <h3 class="TwoColumns_header">{{data.section_3.column_1.heading}}</h3>
          <p class="TwoColumns_text">{{data.section_3.column_1.content}}</p>
        </div>
        <div class="TwoColumns_column">
          <h3 class="TwoColumns_header">{{data.section_3.column_2.heading}}</h3>
          <p class="TwoColumns_text">{{data.section_3.column_2.content}}</p>
        </div>
      </div>
    {{/or}}

  </section>
{{/or}}

<!-- SECTION 4 -->
{{#or data.section_4.heading data.section_4.content}}
  <section class="light-blue-bg page-section">
    <h1>{{data.section_4.heading}}</h1>
    <p>{{data.section_4.content}}</p>
    <div>
      <button class="flat-btn page-section_button">Register your search</button>
    </div>
  </section>
{{/or}}
