{{#with data.property}}
  <section class="page-section grey-bg">

    {{#unless (lookup (lookup this ../acquisitionMode) 'available')}}
      <article class="property-warning">
        <h2>
          {{propertyUnavailableMessage this}}
        </h2>
      </article>
    {{/unless}}

    <article class="property-article">
      <div class="article-row property-article-header">
        <h1>
          {{#if location.street1}}{{location.street1}},{{/if}}
          {{location.city}} {{location.postcode}}</h1>

        <button class="flat-btn js-book-viewing-toggle">Book a viewing</button>

        <modal class="js-book-viewing-modal modal-background modal--hidden">
          <main class="js-modal-content modal-content">
              <button class="modal-closeBtn js-modal-closeBtn"><i class="fa fa-times" aria-hidden="true"></i></button>
              <script>
                var bookViewingForm = { load: '/contact' }; // Load valuation Modal from server
              </script>
              <x-div data-controller="/scripts/fl-form.js" data-config="bookViewingForm"></x-div>
          </main>
        </modal>

      </div>

      <div class="article-tabs tabs">
        <!-- TODO: Only show gallery if there are images -->
        <input id="photos_tab" type="radio" name="article_property" checked>
        <div class="tab-content property-tab">
          <div class="img-slider property-tab-content">
            {{#if images.length}}
              {{#tabs images.length}}
                <img
                  srcset="{{srcSet (lookup ../images @index) 1200 900 820 620 310}}"
                  sizes="(max-width: 768px) 100vw, 70vw"
                  src="{{cloudinaryUrl (lookup ../images @index) width=700 crop='lfill' gravity='center' flags='progressive'}}"
                  alt="{{location.street1}}"
                />
              {{/tabs}}
            {{else}}
              {{#tabs 1}}
                <img src="{{cloudinaryUrl}}" alt="{{location.street1}}" />
              {{/tabs}}
            {{/if}}
          </div>
        </div>

        {{#if floorPlan.secure_url}}
          <input id="floorPlan_tab" type="radio" name="article_property">
          <div class="tab-content property-tab property-image">
            <img class="property-tab-content" src="{{floorPlan.secure_url}}" alt="Floor Plan">
          </div>
        {{/if}}

        {{#if epc.secure_url}}
          <input id="epc_tab" type="radio" name="article_property">
          <div class="tab-content property-tab property-image">
            <img src="{{epc.secure_url}}" class="property-tab-content" alt="EPC">
          </div>
        {{/if}}

        {{#if hasGeoInfo}}
          <input id="map_tab" type="radio" name="article_property">
          <div class="tab-content property-tab">
            <div class="js-property-map property-map property-tab-content"></div>
          </div>
        {{/if}}

        <div class="article-row article-tabs-bottom-bar">
          <nav class="article-tabs-labels js-property-article-tab-labels">

            <label class="article-tabs-button" for="photos_tab"><li class="article-tabs-button-text">Photos</li></label>

            {{#if floorPlan.secure_url}}
              <label class="article-tabs-button" for="floorPlan_tab"><li class="article-tabs-button-text">Floor Plan</li></label>
            {{/if}}

            {{#if epc.secure_url}}
              <label class="article-tabs-button" for="epc_tab"><li class="article-tabs-button-text">EPC</li></label>
            {{/if}}

            {{#if location.geo.length}}
              <label class="article-tabs-button js-map-label" for="map_tab"><li class="article-tabs-button-text">Map</li></label>
            {{/if}}
          </nav>
          <ul class="property-article-side-buttons">
            <li class="js-article-print article-tabs-button"><i class="fa fa-print"></i></li>
            <!-- TODO: add funcionality to these two share buttons -->
            <!-- <li class="js-article-mail article-tabs-button"><i class="fa fa-envelope-o"></i></li>
            <li class="js-article-share article-tabs-button"><i class="fa fa-share"></i></li> -->
          </ul>
        </div>
      </div>
      <div class="property-article-content">
        <div class="article-row property-article-header-info">
          <div class="property-article-left-column">
            <!-- TODO: Add capitalisation to CSS in here -->
            <ul class="property-info-list">

              {{#if (propertyPrice this ../acquisitionMode)}}
                <li>{{propertyPrice this ../../acquisitionMode}} {{#is ../../acquisitionMode 'rent'}} per week{{/is}}</li>
              {{/if}}


              {{#is ../acquisitionMode 'buy'}}
                {{#if ownership}}
                  <li>{{titleize ownership}}</li>
                {{/if}}
              {{/is}}

              {{#if bedrooms}}
                <li>{{bedrooms}} beds</li>
              {{/if}}
              {{#if type}}
                <li>{{titleize type}}</li>
              {{/if}}
              {{#if size}}
                <li>{{formatSize size}}</li>
              {{/if}}
            </ul>
            {{{summary}}}
          </div>
          <div class="property-article-right-column">
            <ul class="property-article-contact-info">
              <li>+44 (0)20 7937 0612</li>
              <li>info@evolv.london</li>
            </ul>
          </div>
        </div>

        <div class="article-row property-article-body-info">
          <div class="property-article-left-column">
            {{#if description}}
              <h2>Description</h2>
              {{{description}}}
            {{/if}}

            {{#if locationDescription}}
              <h2>Location</h2>
              {{{locationDescription}}}
            {{/if}}
          </div>
          <div class="property-article-right-column">
            <!-- TODO: Make these details work -->
            <h2>Details</h2>
            <ul>
              {{{detailsList details}}}

              {{#if bedrooms}}
                <li>{{bedrooms}} bedrooms</li>
              {{/if}}

              {{#is ../acquisitionMode 'buy'}}
                {{#if ownership}}
                  <li>{{ownership}}</li>
                {{/if}}
              {{/is}}

              {{#if size}}
                <li>Aprox {{size}} sq ft ({{feetToMeters size}} sq m)</li>
              {{/if}}
            </ul>
          </div>
        </div>
        <a class="article-row sole-button" href="/{{../acquisitionMode}}">< back to search</a>
      </div>
    </article>
  </section>


  <script>
    {{#if hasGeoInfo}}
      var PROPERTY_INFO = { "address" : { "latitude": {{location.latitude}}, "longitude": {{location.longitude}} } };
    {{/if}}

    // Info for navbar
    var PAGE_INFO = { name: "{{../acquisitionMode}}" }
  </script>

<script src="https://maps.googleapis.com/maps/api/js?key={{googleMapsKey}}"></script>
<script src="/js/property.js"></script>

{{/with}}
