<!-- SECTION 1 -->
<section class="page-section full-height-minus-navbar flex let_firstSection">
  <div class="main-headers">
    <h1 class="main-header">{{data.section_1.main_heading}}</h1>
    <h2 class="main-subheader">{{data.section_1.main_subheading}}</h2>
  </div>
</section>

<!-- SECTION 2 -->
{{#or data.section_2.heading data.section_2.content}}
  <section class="grey-bg page-section">
    <h1>{{data.section_2.heading}}</h1>
    <p>{{data.section_2.content}}</p>
  </section>
{{/or}}

<!-- SECTION 4 -->
{{#or data.section_4.heading data.section_4.content}}
  <section class="light-blue-bg page-section">
    <h1>{{data.section_4.heading}}</h1>
    <p>{{data.section_4.content}}</p>
    <div>
      <button class="flat-btn page-section_button js-register-search-modal-toggle">Register your search</button>
      {{>formModal formAddress='/register' toggleButton='js-register-search-modal-toggle'}}

    </div>
  </section>
{{/or}}
