<!--  Expects a context with the following variables
    {String} submissionSuccessful
    {String} successMessage
    {String} formTitle
    {Array} formFields
-->

<form method="post" class="ContactForm_container" target="{{formTarget}}">

  {{#if submissionSuccessful}}
    <p>{{successMessage}}</p>
  {{else}}
      <h1 class="ContactForm_mainTitle">{{formTitle}}</h1>

      <input type="hidden" name="action" value="register">
      {{#each formFields}}
        {{#if errorMessage}}
          <p class="ContactForm_errorMessage"> {{errorMessage}} </p>
        {{/if}}

        <{{tag}} type={{type}} placeholder="{{placeholder}}" name="{{name}}" class="ContactForm_input-{{type}}" {{#if required}}required{{/if}}>
            {{#each options}}
                <option value="{{value}}">
                    {{label}}
                </option>
            {{/each}}
        </{{tag}}>
      {{/each}}

      <button type="submit" name="button" class="ContactForm_input-submitBtn" value="Submit">Submit</button>
  {{/if}}
</form>
