<!--  Expects a context with the following variables
    {String} formAction
    {String} submissionSuccessful
    {String} successMessage
    {String} formTitle
    {Array} formFields
-->

<form method="post" class="ContactForm_container" action="{{formAction}}">

  {{#if submissionSuccessful}}
    <p>{{successMessage}}</p>
  {{else}}
      <h1 class="ContactForm_mainTitle">{{formTitle}}</h1>

      <address class="ContactForm_address">
        <div class="ContactForm_addressPhoneEmail">020 7937 0612<br>info@evolv.london</div>
        <div class="ContactForm_addressPostal">26a Adam and Eve Mews<br>Kensington, London W8 6UJ</div>
      </address>

      <input type="hidden" name="action" value="register">
      {{#each formFields}}
        {{#if errorMessage}}
          <p class="ContactForm_errorMessage"> {{errorMessage}} </p>
        {{/if}}

        <{{tag}}
          type={{type}}
          placeholder="{{placeholder}}"
          name="{{name}}"
          class="ContactForm_input-{{type}}"
          {{#if required}}required{{/if}}
          value={{content}}
        >
            {{~#is tag 'textarea'~}}{{content}}{{~/is~}}
            {{~#each options~}}
              <option
                value="{{value}}"
                {{#if selected}}selected{{/if}}
              >
                  {{label}}
              </option>
            {{~/each~}}
        </{{tag}}>
      {{/each}}

      <button type="submit" name="button" class="ContactForm_input-submitBtn" value="Submit">Submit</button>
  {{/if}}
</form>
