
  {{name.full}}


<div class="staffSlider">

	<a class="staffSlider-arrow-right">
		<i class="fa fa-angle-right"></i>
	</a>

	<a class="staffSlider-arrow-left">
		<i class="fa fa-angle-left"></i>
	</a>

	<div class="staffSlider-content">

    {{#each this}}
  		<div class="staffSlider-member">
  			<h1 class="staffSlider-member-tile">{{name.full}}</h1>
  			<h3 class="staffSlider-member-role">{{position}}</h3>
        <div class="staffSlider-img-crop">
          <img class="staffSlider-member-image"
            srcset="{{srcSet photo 1240 1020 820 620 500 310}}"
            src="{{cloudinaryUrl photo width=700 crop='lfill' gravity='center'}}"
            alt="{{name.full}}"
          />
        </div>
  			<p class="staffSlider-member-bio">
  				{{bio}}
  			</p>
  			<a class="staffSlider-member-email">
        {{email}}
      </a>
  		</div>
    {{/each}}

	</div>
</div>
